/**
 * Style Sheet for Peak Airlines
 * version: 1.0
 * author: Somtochukwu Nwagbata
 * 
 *
 * CONTENTS:
 * Resets and General
 * Header
 * Main Content
 * Footer
 */


/**
  * Resets and General 
  */
body,
html {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.05rem;
    line-height: 1.7;
    color: rgba(0, 0, 0, 0.9);
    background: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.bg-1 {
    background-color: #061E47;
}

.bg-2 {
    background-color: #1F4591;
}

.text-1{
    color: #2B6AD0;
}

/**
 * Header
 */
#logo {
    height: 3.5em;
}


/**
 * Main Content 
 */

/* Set style bg pic for home*/
#home {
    background: linear-gradient(rgba(20, 20, 20, .3), rgba(20, 20, 20, .3)), url('../images/home.jpg');
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.align{
    display: inline-block;
    position: relative;
}


/* key frame animations for text on homescreen*/
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.animate-reveal {
    opacity: 0;
    animation: fadeIn ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-delay: 0.7s;
}

/* Animation for tabs for .7s*/
.tabcontent {
    animation: fadeEffect 0.7s;
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

a.reset-link.active{
    background-color: #1F4591 !important;
}